.general
	{
		width:1225px;
		background:#78A66A;
		border-radius:25px;
		margin:25px;
	}
	img
	{
		width:100%;
		border: 2px solid black;
		border-radius: 15px;
		padding: 10px;
		border-color:#234D16;
	}
	
	.imagen {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  gap: 20px;
  	border-radius: 15px;
		padding: 10px;
		border-color:white;
}

.imagen {
  width: 40%;
	}
		
	
	header
	{margin:25px;
	/*width: 500%;*/
	background:#78A66A;
	}
	
	header h1
	{
	font-family:Impact;
	text-align: center;
	font-weight:500;
	padding:25px;
	color: white;
	}
		
	nav ul li
	{
		list-style: none;
		padding: 0;
		margin: 0;
	}	
	li
	{
		  display: inline;
		  margin-right: 50px;
	}
	a {
		text-decoration: none;
		font-family: 'Courier New', Courier, monospace;
		color: #00365C;
		margin-right: 25px;
		
	}
	nav ul
	{text-align: center;
	}
	
	nav a{
		color:#00365C;
		transition:color 0.3s ease;
	}
	nav a:hover {
		color: white;
	}
	
	h2
	{
	font-family:Impact;
	text-align: center;
	font-weight:500;
	padding:10px;
	color: white;

	}
	h5{
		font-family:Impact;
	text-align: center;
	font-weight:500;
	padding:10px;
	color: white;
	 font-size: 25px;

	}
	
	h6{
		font-family:Impact;
	text-align: center;
	font-weight:500;
	padding:10px;
	color: white;
	 font-size: 25px;

	}
	
	h4
	{
	font-family:'Courier New', Courier, monospace;
	text-align: center;
	font-weight:1000;
	padding:25px;
	color: white;
	}
		
	
	
.contenedor-columnas {
  display: flex;
  gap: 40px;
  text-align: justify;
  font-family:serif;
  margin: 50px;
  background-color:#C5EDBE; 
    border-radius: 15px;
	  font-size: 18px;
 

}

.columna {
  flex: 1;
}
#destinos h2 {
  text-align: center;
  margin-bottom: 25px;
}

.columna h3 {
  margin-bottom: 10px;
  text-align: center;
  color: #00365C;
  font-family: 'Courier New', Courier, monospace;
  
}

.bilbao {

 padding: 10px;
}

.cadiz {
  
  padding: 10px;
}

.columna p {
  line-height: 1.6;
}
.inicio {
	text-align: center;
  font-family: serif;
  margin-bottom: 10px;
  max-width: 700px;       
  margin: 0 auto; 
  color: #00365C;  
}

.final {
	
  font-family: serif;
  margin-bottom: 10px;     
  color: #00365C; 
  margin:50px;
  text-align: justify;    
  margin: 40px auto;       
  width: 70%;           
  line-height: 1.6;      
}


footer {
  color: white;
  text-align: center;
  padding: 20px;
  margin-top: 40px;
}

.enlace{
	 color: #00365C;
  text-align: center;
  padding: 20px;
  margin-top: 40px;
  transition:color 0.3s ease;
}
		
.enlace:hover {
		color: white;
	}

.flecha{
  margin: 0 auto;
  display: flex;
  justify-content: center;
  gap: 20px;
    width: 50px;
	border-color:white;
}